*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



header h1{
    width: 70%;
    text-align: center;
}


ul li{
    width: 70%;
    text-align: center;
}

.barred{
    text-decoration: line-throughES;
}

div.input-text{
    width: 70%;
    text-align: center;
}