<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=ù, initial-scale=1.0">
    <title>Vue todolist</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Vue 3 -->
    <script src="https://unpkg.com/vue@3"></script>

<div id="app">
    <header>
        <h1>
            Lista della spesa
        </h1>
    </header>

    <main>
        <div class="todo-list">
            <ul>
                <li v-for="(todoItem, index) in todoList">
                    {{todoItem.text}}
                    <span class="simbol">
                        <i class="fa-solid fa-x"></i>
                    </span>
                </li>
                
            </ul>
        </div>
        <div class="input-text">
            <input type="text" v-model="newElement" @keyup.enter="addNewTodoList(newElement)" >
            <button class="list-adder" @click="addNewTodoList(newElement)">
                add new item
            </button>
        </div>
    </main>







    <script src="./js/myscript.js"></script>
</div>

















    <script src="./js/myscript.js"></script>
</body>
</html>